In [3]:
#installing packages 

import numpy as np
import pandas as pd
from pandas_datareader import data as web
import pandas_datareader
import datetime
import matplotlib.pyplot as plt
from scipy import stats
%matplotlib inline

In [6]:
start = datetime.datetime(2014, 1, 2)
end = datetime.datetime(2019, 1, 1)

tickers = ['NFLX', 'DIS', 'TSLA', 'AMZN']
stocks = pd.DataFrame()
for x in tickers:
    stocks[x] = web.DataReader(x, 'yahoo', start, end)['Close']

In [7]:
stocks_return = (stocks/stocks.shift(1))

In [8]:
portfolio_weights = np.array([0.0538, 0.1057, 0.6898, 0.1506])

In [9]:
weighted_returns_portfolio = stocks_return.mul(portfolio_weights, axis = 1)

weighted_returns_portfolio.head().dropna()

                NFLX       DIS      TSLA      AMZN
Date
2014-01-03  0.053842  0.105478  0.687318  0.150021
2014-01-06  0.053277  0.105297  0.677993  0.149533
2014-01-07  0.050797  0.106425  0.700874  0.152283
2014-01-08  0.054036  0.104149  0.698667  0.152072

In [10]:
# covariance of the stocks returns

stocks_covariance = stocks_return.cov()

stocks_covariance

          NFLX       DIS      TSLA      AMZN
NFLX  0.000735  0.000089  0.000247  0.000236
DIS   0.000089  0.000142  0.000090  0.000080
TSLA  0.000247  0.000090  0.000797  0.000186
AMZN  0.000236  0.000080  0.000186  0.000381

In [11]:
annualized_covariance = stocks_covariance * 252
annualized_covariance

          NFLX       DIS      TSLA      AMZN
NFLX  0.185274  0.022497  0.062368  0.059461
DIS   0.022497  0.035697  0.022763  0.020037
TSLA  0.062368  0.022763  0.200928  0.046951
AMZN  0.059461  0.020037  0.046951  0.096091

In [12]:
portfolio_sd = np.sqrt(np.dot(portfolio_weights.T, np.dot(annualized_covariance, portfolio_weights)))
portfolio_sd

0.34392103687572534