In [2]:
#installing packages 

import numpy as np
import pandas as pd
from pandas_datareader import data as web
import pandas_datareader
import datetime
import matplotlib.pyplot as plt
from scipy import stats
%matplotlib inline

In [3]:
# Creating the porftolio (4 variables)

start = datetime.datetime(2014, 1, 1)
end = datetime.datetime(2019, 1, 1)

tickers = ['NFLX', 'DIS', 'TSLA', 'AMZN']
stocks = pd.DataFrame()
for x in tickers:
    stocks[x] = web.DataReader(x, 'yahoo', start, end)['Close']

In [4]:
stocks.tail()

                  NFLX         DIS        TSLA         AMZN
Date
2018-12-26  253.669998  105.830002  326.089996  1470.900024
2018-12-27  255.570007  106.519997  316.130005  1461.640015
2018-12-28  256.079987  107.300003  333.869995  1478.020020
2018-12-31  267.660004  109.650002  332.799988  1501.969971
2019-01-02  267.660004  108.970001  310.119995  1539.130005

In [5]:
# Creating the weights of the portfolio

portfolio_weights = np.array([0.26, 0.20, 0.34, 0.20])

In [6]:
# creating returns for each of the assets

stocks_return = np.log(stocks/stocks.shift(1))

In [7]:
# checking the stock returns

stocks_return.head()

                NFLX       DIS      TSLA      AMZN
Date
2014-01-02       NaN       NaN       NaN       NaN
2014-01-03  0.000771 -0.002100 -0.003604 -0.003852
2014-01-06 -0.009769 -0.003818 -0.017265 -0.007113
2014-01-07 -0.057435  0.006835  0.015927  0.011116
2014-01-08  0.004379 -0.014780  0.012773  0.009726

In [8]:
# droping the NaN values

stocks_return.dropna().head()

                NFLX       DIS      TSLA      AMZN
Date
2014-01-03  0.000771 -0.002100 -0.003604 -0.003852
2014-01-06 -0.009769 -0.003818 -0.017265 -0.007113
2014-01-07 -0.057435  0.006835  0.015927  0.011116
2014-01-08  0.004379 -0.014780  0.012773  0.009726
2014-01-09 -0.011622 -0.004263 -0.025101 -0.002267