In [1]:
#installing packages 

import numpy as np
import pandas as pd
from pandas_datareader import data as web
import pandas_datareader
import datetime
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import norm
%matplotlib inline

In [2]:
start = datetime.datetime(2018, 1, 2)
end = datetime.datetime(2019, 4, 1)

tickers = ['AAPL','WMT', 'TM','KO','BA']
stocks = pd.DataFrame()
for x in tickers:
    stocks[x] = web.DataReader(x, 'yahoo', start, end)['Close']

stocks.tail()

                  AAPL        WMT          TM         KO          BA
Date
2019-03-27  188.470001  97.209999  121.029999  46.610001  374.209991
2019-03-28  188.720001  97.129997  119.070000  46.580002  374.440002
2019-03-29  189.949997  97.529999  118.019997  46.860001  381.420013
2019-04-01  191.240005  97.820000  119.879997  46.720001  391.540009
2019-04-02  194.020004  96.940002  120.650002  46.570000  390.750000

In [3]:
stocks_return = (stocks/stocks.shift(1))-1
stocks_return.tail()

                AAPL       WMT        TM        KO        BA
Date
2019-03-27  0.008994 -0.011290 -0.006077 -0.000643  0.010341
2019-03-28  0.001326 -0.000823 -0.016194 -0.000644  0.000615
2019-03-29  0.006518  0.004118 -0.008818  0.006011  0.018641
2019-04-01  0.006791  0.002973  0.015760 -0.002988  0.026532
2019-04-02  0.014537 -0.008996  0.006423 -0.003211 -0.002018

In [4]:
portfolio_weights = np.array(np.random.random(5))
portfolio_weights
portfolio_weights = portfolio_weights/np.sum(portfolio_weights)
portfolio_weights

array([ 0.03431274,  0.24577416,  0.41835291,  0.24327378,  0.05828641])

In [7]:
weighted_returns_portfolio = stocks_return.mul(portfolio_weights, axis = 1)

In [8]:
stocks_return['Portfolio'] = weighted_returns_portfolio.sum(axis=1).dropna() 
stocks_return['Portfolio'] = stocks_return['Portfolio'] * 100
stocks_return.head()

                AAPL       WMT        TM        KO        BA  Portfolio
Date
2018-01-02       NaN       NaN       NaN       NaN       NaN   0.000000
2018-01-03 -0.000174  0.008723  0.013710 -0.002196  0.003234   0.752801
2018-01-04  0.004645  0.000905  0.015600  0.014085 -0.003794   1.011327
2018-01-05  0.011385  0.005927  0.012863 -0.000217  0.041022   0.956698
2018-01-08 -0.003714  0.014781  0.006798 -0.001519  0.004242   0.622693

In [10]:
var99 = np.percentile(stocks_return['Portfolio'], 1) 
var99

-2.5793928700853099