In [1]:
# libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
## getting data from Tesla

import pandas_datareader
import datetime

import pandas_datareader.data as web

In [7]:
start = datetime.datetime(2015,1,1)
end = datetime.datetime(2019,1,1)

Tesla = web.DataReader('TSLA','yahoo',start,end)

Tesla.head()

In [11]:
Tesla.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-12-26,300.000000,326.970001,294.089996,326.089996,326.089996,8163100
2018-12-27,319.839996,322.170013,301.500000,316.130005,316.130005,8575100
2018-12-28,323.100006,336.239990,318.410004,333.869995,333.869995,9939000
2018-12-31,337.790009,339.209991,325.260010,332.799988,332.799988,6302300
2019-01-02,306.100006,315.130005,298.799988,310.119995,310.119995,11658600

In [12]:
Tesla.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02,222.869995,223.250000,213.259995,219.309998,219.309998,4764400
2015-01-05,214.550003,216.500000,207.160004,210.089996,210.089996,5368500
2015-01-06,210.059998,214.199997,204.210007,211.279999,211.279999,6261900
2015-01-07,213.350006,214.779999,209.779999,210.949997,210.949997,2968400
2015-01-08,212.809998,213.800003,210.009995,210.619995,210.619995,3442500