In [1]:
import pandas as pd

In [2]:
Data_Frame = pd.DataFrame({'col1':[1,2,3,4],'col2':[200,300,200,300],'col3':['abc','def','ghi','xyz']})
Data_Frame

   col1  col2 col3
0     1   200  abc
1     2   300  def
2     3   200  ghi
3     4   300  xyz

In [3]:
Data_Frame['col1']

0    1
1    2
2    3
3    4
Name: col1, dtype: int64

In [4]:
Data_Frame['col2'].unique()

array([200, 300])

In [6]:
Data_Frame['col1'].sum()

10

In [8]:
Data_Frame['col1'].mean()

2.5

In [10]:
Data_Frame['col1'].multiply(5)

0     5
1    10
2    15
3    20
Name: col1, dtype: int64

In [13]:
Data_Frame.drop('col1',axis=1)

   col2 col3
0   200  abc
1   300  def
2   200  ghi
3   300  xyz

In [15]:
Data_Frame.sort_values('col2')

   col1  col2 col3
0     1   200  abc
2     3   200  ghi
1     2   300  def
3     4   300  xyz

In [16]:
Data_Frame >200

    col1   col2  col3
0  False  False  True
1  False   True  True
2  False  False  True
3  False   True  True